{{define "main"}}
<section class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto col-md-12">
        <div class="page-header">
          <h2> {{ .Title }}</h2>
          <p>{{.Params.subTitle}}</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="contact-form">
          <h2>Contact Form</h2>
          <form id="contactForm" class="row" >
            <div class="col-md-6">
              <input type="text" class="form-control" id="name" name="Name" placeholder="Your Name">
            </div>
            <div class="col-md-6">
              <input type="email" class="form-control" id="email" required="" name="email" placeholder="Your Email">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="company" required="" name="Company" placeholder="Your Company">
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control" id="phone" required="" name="phone" placeholder="Your Phone">
            </div>
            <div class="col-md-12">
              <textarea class="form-control" id="message" rows="8" name="message"
                placeholder="Message here…"></textarea>
            </div>
            <div class="col-md-12">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck" name="checkbox" required>
                <label class="form-check-label" for="gridCheck">
                  I agree that my submitted data is being collected and stored.
                </label>
              </div>
            </div>
            <div class="col-lg-12">
              <button type="submit" class="btn btn-primary" >Send Message</button>
            </div>
            <p id="contact-form-status"></p>
          </form>
          <script src={{.Site.Params.contactFormScript}}></script>
          <div class="contact">
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
